body{

	font-family: arial;
}

h1{

	color: red;
	font-size: 150px;
	width:1000px;
	text-align: center;


}

p{
	color:#545454 ;
	font-size: 80px;
	width:800px;
	text-align: center;

}
.₹{
	color: red;
}
